html, body{
    font-family: "Sora", sans-serif;
    width: 100%;
    height: 100%;
}

.container-fluid{
    padding: 0 9%;
}

.bg{
    background-image: url(../static/bg-future.jpg);
    background-size: cover;
    background-position: center;
    border-image: fill 0 linear-gradient(#0001, #000);
    width: 100%;
    height: 750px;
}

.navbar{
    position: fixed;
    z-index: 999;
}

.navbar-brand img{
    width: 240px;
}

.nav-link{
    color: #FFF;
    font-weight: bold;
    padding-left: 35px !important;
    padding-right: 35px !important;
}

.nav-link:hover{
    color: #FFF;
    border-bottom: solid #FFF;
}

.container-links{
    margin-left: 100px;
}

.container-redes{
    margin-left: 100px;
}

.fa-bars{
    color: #FFF;
    font-size: 28px;
}

.parent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.child {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
    border-radius: 50%;
    margin: 0 5px;
}
  
.child:hover {
    background-color: white;
    background-position: -100px 100px, -100px 100px;
    transform: rotate3d(0.5, 1, 0, 30deg);
    transform: perspective(180px) rotateX(60deg) translateY(2px);
    box-shadow: 0px 10px 10px rgb(1, 49, 182);
}
  
a {
    border: none;
    background-color: transparent;
    font-size: 20px;
}
  
.button:hover {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate3d(0px, 0px, 15px) perspective(180px) rotateX(-35deg) translateY(2px);
    border-radius: 50%;
}

@keyframes translateY{
    from{
        transform: translateY(0) scale(1);
    }
    to{
        transform: translateY(-8px) scale(1.1);
    }
}

/*----- Hero Section -----*/
#hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero .container-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    text-align: center;
}

.title-hero{
    font-size: 68px;
    color: white;
}

#hero p{
    text-align: center;
    color: white;
    line-height: 150%;
    margin-top: 35px;
    font-size: 28px;
}

.glowbutton {
    --glow-color: rgb(176, 252, 255);
    --glow-spread-color: rgba(123, 251, 255, 0.781);
    --enhanced-glow-color: rgb(206, 255, 255);
    --btn-color: rgb(61, 127, 136);
    border: 0.25em solid var(--glow-color);
    padding: 1em 8em;
    color: var(--glow-color);
    font-size: 20px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em 0.25em var(--glow-color),
      0 0 4em 1em var(--glow-spread-color),
      inset 0 0 0.75em 0.25em var(--glow-color);
    text-shadow: 0 0 0.5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
    margin-top: 12%;
  }
  
  .glowbutton::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: 0.7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
  }
  
  .glowbutton:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em 0.25em var(--glow-color),
      0 0 4em 2em var(--glow-spread-color),
      inset 0 0 0.75em 0.25em var(--glow-color);
  }
  
  .glowbutton:active {
    box-shadow: 0 0 0.6em 0.25em var(--glow-color),
      0 0 2.5em 2em var(--glow-spread-color),
      inset 0 0 0.5em 0.25em var(--glow-color);
  }

/* ----- Service Section ----- */
#service{
    background: linear-gradient(#000, #333131);
}

.service-title{
    text-align: center;
    font-weight: bold;
    color: white;
    padding-top: 25px;
    text-decoration: underline;
    font-size: 50px;
}
  
.card {
    position: relative;
    width: 400px;
    height: 300px;
    background-color: rgba(123, 251, 255, 0.781);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin: 100px 25px;
    border-image: fill 0 linear-gradient(#0001, #000);
}
  
.card img {
    background-position: center;
    background-size: cover;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
  
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}
  
.card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
  
.card:hover .card__content {
    transform: rotateX(0deg);
}
  
.card__title {
    margin: 0;
    font-size: 30px;
    color: #111;
    font-weight: 700;
}
  
.card:hover img {
    scale: 0;
}
  
.card__description {
    margin: 10px 0 0;
    font-size: 20px;
    color: #111;
    line-height: 1.4;
}

.go-arrow {
    position: absolute;
    top: -10px;
    right: -5px;
    color: #0f0a41;
    font-size: 26px;
    border-bottom-left-radius: 25px;
    width: 45px;
    height: 45px;
    background-color: #f2f2f2;
    padding-top: 13px;
    padding-left: 8px;
}

.card-footer{
    color: white;
    border: none;
    font-size: 18px;
    background-color: transparent;
}

.img1{
    width: 150px;
}

.img2{
    width: 150px;
}

.img3{
    width: 310px;
}

.card-aut {
    width: 300px;
    height: 450px;
    background-image: url(/static/robo-no-whatsapp_979262-906.avif);
    background-size: cover;
    background-position: center;
    border: 3px solid rgb(17, 4, 94);
    border-radius: 15px;
    position: relative;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 22px;
    transition: all 1s ease;
    color: antiquewhite;
    margin-top: 100px;
    padding-bottom: 100px;
    margin-right: 40px;
}
  
.card-aut::before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 10px;
    right: 140px;
    border-radius: 50%;
    background-color: rgb(17, 4, 94);
}
  
.card__date {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
  
.time {
    font-size: 3em;
}
  
.popup {
    background-color: #444746;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    font-size: 2em;
    padding: 15px;
}
  
.popup .title {
    font-size: 1rem;
    color: #9cbde2;
}
  
.card__date , .popup {
    opacity: 0;
    transition: all .5s ease;
}
  
.card-aut:hover {
    transform: rotate3d(5, 5, 10, -45deg);
}
  
.card-aut:hover .card__date , .card-aut:hover .popup {
    opacity: 1;
}

.card-wpp p{
    margin-top: 50px;
    font-size: 24px;
    text-align: justify;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 700px;
}

.button-wpp{
    margin-left: 150px;
}

.container-wpp{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}
  
/*----- About Section -----*/
.about{
    background-color: #333131;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-about{
    text-align: center;
    font-size: 55px;
    text-decoration: underline;
    font-weight: 600;
    margin-top: 50px;
    color: #FFF;
}

.container-about{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-about{
    width: 450px;
    background-color: #000;
    margin-top: 100px;
    border-radius: 20px;
}

/*----- testimonial Section -----*/

@media (max-width: 721px) {
    .container-fluid{
        padding: 0 1%;
    }

    .bg{
        width: 100%;
    }

    .navbar-brand img{
        width: 150px;
        margin-left: -20px;
    }

    .nav-link{
        margin-left: 0!important;
        text-align: center;
    }

    .container-links{
        text-align: center;
        margin-left: 0;
    }

    .container-redes{
        margin-left: 0;
        text-align: center;
        margin-top: 10px;
    }

    .navbar{
        position: static;
        z-index: 1;
        margin: 0;
    }

    /*----- Hero Section -----*/
    #hero{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #hero .container-title{
        margin-top: 25px;
        text-align: center;
        margin-left: 0;
    }

    #hero .title-hero{
        color: white;
        font-size: 40px;
        margin-top: 55px;
    }

    .glowbutton{
        margin-top: 40%;
        padding: 0.6em 1.5em;
    }

    #hero p{
        font-size: 24px;
        max-width: 365px;
    }

    /* ----- Service Section ----- */
    .service{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .service-title{
        font-size: 30px;
    }

    .card{
        width: 310px;
        height: 250px;
        margin: 45px 0;
    }

    .card__title{
        font-size: 25px;
    }

    .card__description{
        font-size: 18px;
    }

    .go-arrow{
        font-size: 20px;
        right: -5px;
        padding-left: 0px;
    }

    .card-aut {
        width: 200px;
        height: 350px;
        margin-top: 50px;
        margin-right: 0;
    }

    .card-aut::before{
        right: 85px;
        font-size: 50px;
    }

    .time {
        font-size:1.8em;
    }

    .popup {
        background-color: #444746;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        font-size: 1em;
        padding: 15px;
    }
      
    .popup .title {
        font-size: .8rem;
        color: #9cbde2;
    }

    .card-wpp p{
        font-size: 18px;
        max-width: 350px;
        text-align: center;
    }

    .button-wpp{
        margin-left: 0;
    }

    .container-wpp{
        flex-direction: column;
    }

    /*----- About Section -----*/
    .title-about{
        font-size: 38px;
    }

    .logo-about{
        width: 320px;
        margin-top: 50px;
    }
}
